* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  align-items: center;
}

.container {
  background: #a3b4cc;
  margin: 5rem;
  padding-bottom: 2rem;
  border-radius: 16px;
}

header {
  color: #23526e;
  padding: 2rem;
  text-align: center;
  font-size: 40px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  gap: 1rem;
}

.metric {
  background: #c8ccd9;
  border-radius: 10px;
  width: 30%;
  padding: 0.5rem;
  text-transform: none;
  list-style: none;
  color: #23526e;
  font-weight: bold;
  margin-bottom: 1rem;
}

textarea {
  display: block;
  border: none;
  justify-content: center;
  border-radius: 10px;
  margin-left: 2rem;
  padding: 1rem;
}

button {
  background: #5c85ae;
  color: #fff;
  font-size: 14px;
  border: none;
  margin: 2.5rem;
  padding: 1.2rem 2rem;
  border-radius: 5px;
}

footer {
  margin-bottom: 1rem;
  color: #23526e;
  text-align: center;
}
